.flexbox{
  display: flex;
  flex-direction: row;
  height: 50px;
}

.column1{
 display: flex;
 flex-direction: row;
 background-color: lightpink;
 width: 100px;
 justify-content: center;
 align-items: center;
}

.column2{
  background-color: lightblue;
  width: 200px;
}

.item1{
  background-color: black;
  color:white;
}

