.flexbox{
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 400px;

}

.profile-pic{
  width:80px;
  height:80px;
}


.profile-pic-img{
width: 70px;;
height: 70px;
border-radius:35px ;
object-fit: cover;
object-position: left;
margin-left:10px;
}

.profile-info{
  font-family: Arial;
  margin-left: 10px;
  line-height: 25px
}

.youtube-side{
display: flex;
flex-direction: row;
margin-top: 10px;
border:solid;
border-width: 1px;
border-color: grey;
border-radius: 10px;
width: 350px;
height: 90px;

}



.blank{
  width: 100px;
  height: 90px;
  background-color: rgb(236, 236, 236);
  margin:0px;
  border-radius: 10px;
  margin-right:10px;

}

.rightside{
  width: 400px;
  margin-left:10px;
  font-family: Arial, Helvetica, sans-serif;
}

.youtube{
  margin-top:10px;
  margin-bottom:10px;

}
