.Search-bar{
      width: 300px;
      font-size: 16px;
      border:none;
      border-radius: 20px;
      padding-left:15px;
      padding-right:100px;
      padding-top:12px;
      padding-bottom:12px;
      box-shadow: 10px 10px 10px rgb(160, 158, 158);
      margin-top: 20px;
      margin-bottom:20px;
}