p{
    font-family: Arial;
    margin-top: 0px;
    margin-bottom:0px;
  }

  .div-class{
    background-color: black;
    width:300px;
    height: 100px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    padding-left:10px;

  }

  .title1{
    color: white;
    font-size: 20px;
    font-weight:bold;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    padding-left:10px;



  }

  .title2{
    color:rgb(180, 175, 175);
    font-size: 12px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    padding-left:10px;

  }