.card{
 width:200px;
 height:350px;
 border:none;
 box-shadow: 0px 0px 10px rgba(0,0,0,0.3)

}

.image{
  width: 200px;
  height:200px;
  margin-bottom:5px;
  object-fit: cover;
  object-position: center;
}

.t1{
  font-size: 25px;
  font-family: Arial;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom:3px;
 
}

.t2{
  color: rgb(129, 124, 124);
  font-size: 18px;
  font-family: Arial;
  margin-top: 0px;
  margin-bottom:12px;
}

.button{
  background-color: blue;
  color: white;
  border:none;
  border-radius:15px;
  font-size: 20px;
  width: 150px;
  height: 50px;
  margin-top: 10px;
  margin-bottom:10px;
}