.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-width:1px;
  border-style: solid;
  border-color: rgb(150,150,150);
  height: 50px;
  align-items:center;
}

.lightpink{
  background-color: lightpink;
}

